<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xScreenshot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>xSnap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>xTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C870314E1A79007D00A40210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87031631A79007D00A40210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A09A6F1A78854100A7AC47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A09A851A78854100A7AC47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A09ACB1A78861800A7AC47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A09AE01A78861800A7AC47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A77A4F1A7900400030568C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A77A641A7900400030568C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8EBE2321A7902B100B9CE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8EBE2471A7902B200B9CE37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
